body{
    margin: 0
}

.width-container {
    max-width: 1200px;
    margin: auto;
  }

.header {
  border: none;
  color: white;
  display: flex;
  justify-content: space-between;
  padding:  1% 5% !important;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px !important;
  font-size: 1.5em;
}

.header-alt{ 
  background: rgb(69, 90, 69);
}

.header div {
    flex-basis: 25%;
    align-self: center;
  }

.ant-badge {
  font-size: 1.1em;
}
  
  
.header div:nth-child(1){
  flex-basis: 25%;
}

.header div:nth-child(3) {
  text-align: center;

}

.header div:nth-child(4) {
  text-align: right;  
  flex-basis: 25%;
}

.show-mobile {
  display: none;
}

.hide-mobile {
  flex-basis: 50% !important;
}

.header a{
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-size: 1em;
}


/******** SHOP PAGE ********/

.product-card {
    flex-basis: 30%;
}

.product-price {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.quantity {
    padding: 0 10px;
}

/******** END SHOP PAGE ********/


.auth-form {
  top: 35%;
  /* transform: translateY(-50%); */
  margin: 0 auto;
}

  @media only screen and (max-width: 768px) {
    .product-card {
        flex-basis: 45%;
    }
  }
  
  @media only screen and (max-width: 500px) {
  
  
    .header div:nth-child(2){
      flex-basis: 50%;
    }  
  
    .logo {
      max-height: 40px;
    }
  
  
    .hide-mobile {
      display: none;
    }
  
    .show-mobile {
      display: inline-block;
      margin-right: 10px;
    }
  

    .product-card {
        flex-basis: 80%;
    }
  }
  
  